# API Key (Security)
.env

# Data & Copyright (Very Important!)
data/raw/*
!data/raw/.gitkeep

# Results
results/*
!results/.gitkeep

# Large Binary Files (Embeddings)
embeddings/*
!embeddings/.gitkeep
