langchain==0.3.27
langchain-core==0.3.78
langchain-community==0.3.31
langchain-text-splitters==0.3.11
langchain-upstage

pandas
numpy
beautifulsoup4
html2text
wikipedia-api
openai
datasets
faiss-cpu
PyPDF2
python-dotenv
rank_bm25


